
    @keyframes updown {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px); /* Move up */
      }
      100% {
        transform: translateY(0); /* Move back down */
      }
    }
  
    .animate-updown {
      animation: updown 6s ease-in-out infinite;
    }
    .card:hover .card-icon{
      left: 0;
    }
  
  