
.subcategary .slick-track {
  height: auto !important; 
}


.subcategary .slick-slider {
  height: 350px;
  display: flex; /* Optional: Ensures child items are aligned properly */
}
.subcategary .slick-slide {
  margin: 0 10px; /* Add horizontal space between slides */
}

.subcategary .slick-list {
  height: 100%; /* Let it inherit the height of the parent */
  overflow: hidden; 
}

.subcategary .slick-track {
  padding-top: 20px;
  height: 100%; /* Adjust based on the parent height */
  display: flex; /* Ensures slides are aligned horizontally */
  align-items: center; /* Center the content vertically */
}




.subcategary .slick-slide {
margin: 0 10px; /* Add horizontal space between slides */
}

.subcategary .slick-list {
height: 100%; 
}

.subcategary .slick-track {
padding-top: 20px;
/* height: 500px!important;  */
display: flex;
align-items: center;
}





@media only screen and (max-width: 600px) {

  .subcategary .slick-slider {
    height: 300px;
    display: flex;
  }
}